@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url(cac_champagne.woff) format('woff'),
	     url(cac_champagne.ttf) format('ttf');
}

/*
   Practical 3A
   
   Typographical Style Sheet
   
   Filename: gg_overlay4.css

*/



/* Page Body Styles */



/* Horizontal Navigation List Styles */
  

/* Article Styles */

/* Specials Styles */

/* ingredient Styles */


/* Footer Styles */
